<!DOCTYPE html>
<html lang="en">
<head>
  <title>N.P Shkodra</title>
  <style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
 
</style>
</head>
<body>

<div class="flexslider">
        <ul class="slides">

            <li class="flex-active-slide" style='width: 100%; background-image: url("https://scontent.fprx1-1.fna.fbcdn.net/v/t1.0-9/24232415_1986096354999224_7411529727079746138_n.jpg?_nc_cat=101&_nc_oc=AQkt8ABKRkVaSczkpmi32UeNzeExTss5gl3LNV0R8SqeY9xDCVZ0HMv2PEG6IUSvUbc&_nc_ht=scontent.fprx1-1.fna&oh=ca6338db224a734e8e9ec49ba5084f6e&oe=5E1236F2"); margin-right: -100%; display: block; position: relative; z-index: 2; opacity: 1; float: left;'>
                <div class="overlay"></div>

                <div class="meta">
                    <p id="fontiedhe"><span style="color: white">N.P. Shkodra </span><span style="color: black"> - </span><span style="color: white "> KONSTRUKSIONE METALIKE</span><span style="color: black"> &</span><span style="color: white"> DEKOR</span></p>
                    <h2><span>The Building Construction Company</span></h2>
                    <div class="local-scroll p-t-50">
                        <a class="btn-style-6 size-small dark-skin corner-off-rounded" href="#pershkrimihref">Rreth nesh</a>
                        <a class="btn-style-6 size-small dark-skin corner-off-rounded" href="#">Kontakti</a>
                    </div>
                </div>
            </li>
            <li style='width: 100%; background-image: url("https://i.imgur.com/nUT3IkB.jpg"); margin-right: -100%; display: block; position: relative; z-index: 1; opacity: 0; float: left;'>

                <div class="overlay"></div>
                <div class="meta">
                    <h1><span>Cras volutpat mattis est sit amet ornare</span></h1>
                    <h2><span>Quisque pharetra.</span></h2>
                    <div class="local-scroll p-t-60" style="height: 34px">
                        <a class="btn-style-6 size-small dark-skin corner-off-rounded" href="#">More Details</a>
                        <a class="btn-style-6 size-small dark-skin corner-off-rounded" href="#">Reach us</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

<section class="quote-container">
        <div class="container">
            <!--Row Start-->
            <div class="row">
                <div class="col-md-9">
                    <h2>A jeni duke kërkuar për ndonjë kompani që ofron konstruksione metalike?</h2>
                    <p>Kompania jonë ka një përvojë prej 20 viteve.</p>
                </div>
                
            </div>
            <!--Row End-->
        </div>
    </section>
<section class="about-container m-b-100" id="about">
        <div class="container">
            
            <div style="margin-left: 15%" class="row  margin-t-60 margin-b-60">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 id="pershkrimihref">Rreth nesh</h2>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <p>N.P “Shkodra” është kompani e cila është e themeluar 14 vite më parë. Falë projekteve të punuara më shumë kujdes nga inxhinieret tanë me një eksperiencëshumëvjeçare ne artin e përpunimit te hekurit, realizon një seri produktesh e modelesh.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <p id="pershkrimihref">Për te gjitha produktet tona përzgjedhim cilësinë më të larte te hekurit dhe e përpunojmë duke ndjekur hap pas hapi te gjitha etapat e njëpërpunimi profesional, për t’ju ofruar një produkt jo vetëm te bukur artistikisht por edhe jetëgjatë në kohe.
                    </p>
                </div>
               
                </div>
            </div>


        </div>
    </section>
      <div class="container">
            <h1>Sherbimet <span style="color: black">tona</span></h1>
            <p class="heading-description">Produktet tona prodhohen sipas modeleve tona të cilat mund ti përzgjidhni nga katalogu jonë ose sipas dëshirës tuaj. Punimet e hekurit janë të pafundme duke filluar nga elementet përndërtim e përdorim te jashtëm te ambienteve tuaja e deri tek detajet artistike për dekorimet e ambienteve tëbrendshme.</p>
            <ul class="row serviceList">
                <li class="col-md-4 col-sm-6">
                    <div class="sevices-box">
                        <div class="service-image"><img src="https://i.imgur.com/8AP2myg.jpg">
                            <div class="hoverlink">
                                <div class="icon"><a href=""><i class="fa fa-link" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                        <div class="service-details" style="color: black">
                            <h3><a href="#">Rethoja</a></h3>
                            <p>Te gjitha sipas porosisë, një pafundësi modelesh e strukturash.</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="sevices-box" style="color: black">
                        <div class="service-image"><img src="https://i.imgur.com/sAentfB.jpg">
                            <div class="hoverlink">
                                <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                        <div class="service-details">
                            <h3><a href="http://localhost:3000/products?category=Porta">Porta Hekuri</a></h3>
                            <p>Modele antike ose moderne, te madhësive te ndryshme.</p>
                        </div>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="sevices-box">
                        <div class="service-image"><img src="https://i.imgur.com/iO6eOL9.jpg">
                            <div class="hoverlink">
                                <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                        <div class="service-details">
                            <h3><a href="#">Shkalla metalike</a></h3>
                            <p>Përdorim i brendshëm apo te jashtëm, modele sipas stileve antike apo moderne.</p>
                        </div>
                    </div>
                    </li><li class="col-md-4 col-sm-6">
                        <div class="sevices-box">
                            <div class="service-image"><img src="https://i.imgur.com/kb5KKt4.jpg">
                                <div class="hoverlink">
                                    <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                            <div class="service-details">
                                <h3><a href="http://localhost:3000/products?category=Konstruksione">Konstruksione Metalike</a></h3>
                                <p>Konstruksionet metalike te madhësive dhe modeleve te ndryshme është njëra nder fushat ne te cilën kompania jone ka treguar një sukses te jashtëzakonshëm duke kryer ndërtime anekënd vendit.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <div class="sevices-box">
                            <div class="service-image"><img src="https://i.imgur.com/dpSf3xm.jpg">
                                <div class="hoverlink">
                                    <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                            <div class="service-details">
                                <h3><a href="#">Objekte</a></h3>
                                <p>Objekte të ndryshme.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6">
                        <div class="sevices-box">
                            <div class="service-image"><img src="https://i.imgur.com/5Zbjwpl.jpg">
                                <div class="hoverlink">
                                    <div class="icon"><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                            <div class="service-details">
                                <h3><a href="#">Kompani moderne.</a></h3>
                                <p>Kompani jonë eshtë moderne, dhe e pasur me makina të ndryshme për përpunimin e hekurit.</p>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>

        
        <div class="container">
        <div class="row  m-t-100 m-b-100">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box dgn-7 sevices-box">
                        <h3>Cilësia</h4>
                        <br>
                        <p>Kompanija jone ju ofron cilësi në produktet që ne i ofrojmë.
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box dgn-7 sevices-box">
                        <h3>Siguria</h4>
                     <br>
                        <p>Konstruksionet metalike që ne i punojmë, janë të sigurta për një periudhë shumë vjeqare.s
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box dgn-7 sevices-box">
                        <h4>Shumëllojshmëri të modeleve</h4>
<br>
                        <p>Produktet tona prodhohen sipas modeleve tona të cilat mund ti përzgjidhni nga katalogu jonë ose sipas dëshirës tuaj. 
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </div>





    
<div>


<div>

<h1> RRJETET SOCIALE </h1>
<p class="heading-description text-center fff">Deshironi te jeni edhe me afer nesh? Atehere na ndiqni ne rrjetet tona sociale, FACEBOOK dhe INSTAGRAM.</p>

<div style="margin-top: 4%; margin-bottom: 5%">

<ul id="ulrrjetet">

<li style="text-align: center; margin-left: 30%; margin-right: 30%;"><a id="aterrjetet" target="_blank" style="margin-right: 3%;" href="https://www.facebook.com/NpSHKODRA-303573606907267/"><i class="fab fa-facebook fa-6x"></i></a>
<a target="_blank" href="https://instagram.com/npshkodra/"><i class="fab fa-instagram fa-6x"></i></a></li>

</ul>
</div>
</div>

<div>
<h1>Lokacioni</h1>

<div style="margin-top: 3%; margin-left: 15%; margin-right: 15%;">

<iframe id="mapistyle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.4815910308894!2d21.08138531484302!3d42.65114892466253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135361f835d95f49%3A0xed66c68e24865d58!2sN.P.+Shkodra!5e0!3m2!1sen!2s!4v1565874394867!5m2!1sen!2s" width="1000" height="400" frameborder="0" style="border: 2px solid black;" allowfullscreen></iframe>
</div>

</body>















</html>

<!--MANY TO MANY RELATIONSHIP RAILS-->