<head>
<style>
hr{ 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          10px;       
}
<script src="https://kit.fontawesome.com/c4c81ac5b7.js"></script>
</style>

</head>
<body>

<div class="container">

<div style="margin-top: 5%">

<h1> Na Kontaktoni </h1>
<h4 style="text-align: center; margin-bottom: 7%;">Na kontaktoni ne numrat tane te telefonit, apo me ane te postes elektornike</h4>
<div style="display: inline">
<div style="margin-right: 15%;">
<ul style="text-align: center">

<li style="margin-left: 15%;; margin-bottom: 1.5%;"><p><i class="fab fa-viber fa-2x"></i><i class="fas fa-phone fa-2x"></i><span style="font-size: 27px; color: black;">+383 49 377 592</span></p></li>

<li style="margin-left: 15%; margin-bottom: 1.5%;"><p><i class="fab fa-viber fa-2x"></i><i class="fas fa-phone fa-2x"></i><span style="font-size: 27px; color: black;">+383 49 377 592</span></p></li>
<li style="margin-left: 15%; margin-bottom: 1.5%;"><p><i class="fab fa-viber fa-2x"></i><i class="fas fa-phone fa-2x"></i><span style="font-size: 27px; color: black;">+383 49 377 592</span></p></li>
<li style="margin-left: 13%; margin-bottom: 1.5%;"><p><i class="fas fa-envelope fa-2x"></i><span style="font-size: 27px; color: black">info@shkodragroup.com</span></p></li>
<li style="margin-left: 15%; margin-bottom: 1.5%; margin-right: 5%;"><p><i class="fa fa-street-view fa-2x" aria-hidden="true"></i><span style="font-size: 27px; color: black">Rruga Nakarade, 51000, Fushe Kosove</p></li>
</ul>
</div>
<div>
<ul>

</ul>


</div>



</div>

</div>

</div>
</body>