<div style="margin-top: 3%; margin-left: 25%">
    
    <iframe style="border: 1px solid black" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.4815910308894!2d21.08138531484302!3d42.65114892466253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135361f835d95f49%3A0xed66c68e24865d58!2sN.P.+Shkodra!5e0!3m2!1sen!2s!4v1561401127344!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    
    
    
    
</div>