
                    <% if logged_in? %>

<div class="col-md-6 col-md-offset-3" style="color: black;">

<%= form_for(@category) do |f| %>

<%= f.label :name %>
<%= f.text_field :name, class: 'form-control' %>

<%= f.submit "Krijo kategorine", class: "btn btn-primary" %>

<% redirect_to '/products/' %> 
<% else %>
<% redirect_to home_path %> 
<% end %>
<% end %>
</div>
